<div class="page-header">
  <h1>Контакты<small> </small></h1>
</div>
<div class="container">
  <div class="row">
    <h4>Время приема посетителей:</h4>

    Ген. директор: 19:00 - 20:30 (вторник - четверг)<br />
    Бухгалтер: 19:00 - 20:30 (вторник)<br />
    Заместитель ген. директора: 09:00 - 18:00 (ежедневно)<br />
  </div>
  <br />
  <div class="row">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><b>Телефон (круглосуточно):</b></td>
          <td><b>8 (812) 755-26-20</b></td>
        </tr>
        <tr>
          <td><b>Диспетчер:</b></td>
          <td><b>8 (812) 755-26-20</b></td>
        </tr>
        <tr>
          <td><b>Ген. директор:</b></td>
          <td><b>8 (812) 384-68-24 (с 09 до 18)<br />8 (921) 574-09-45</b></td>
        </tr>
        <tr>
          <td><b>Заместитель ген. директора:</b></td>
          <td><b>8 (812) 384-68-24 (с 09 до 18)<br />8 (931) 590-83-64</b></td>
        </tr>
        <tr>
          <td><b>Бухгалтер:</b></td>
          <td><b>8 (812) 384-68-24 (в часы приема)</b></td>
        </tr>
        <tr>
          <td><b>Адрес:</b></td>
          <td><b>198260, Санкт-Петербург, ул. Солдата Корзуна, д.26, Лит.А</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





