<div class="page-header">
  <h1>Документы<small> </small></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><a href="docs/protokol11.pdf">Протокол общего собрания №11 от 14-03-2017</a></li>
        <li class="list-group-item"><a href="docs/buhotchet2016.pdf">Упрощенная бухгалтерская(финансовая) отчетность за 2016 год</a></li>
        <li class="list-group-item"><a href="docs/otchet2016.pdf">Отчет об использовании денежных средств за период с 01-01-2016 по 31-12-2016</a></li>
        <li class="list-group-item"><a href="docs/smeta2017.pdf">Смета на 2017 год</a></li>
        <li class="list-group-item"><a href="docs/2016/ProtocolOCC8.pdf">Протокол ОСС № 8</a></li>
        <li class="list-group-item"><a href="docs/2016/ProtocolOCC9.pdf">Протокол ОСС № 9</a></li>
        <li class="list-group-item"><a href="docs/2016/ProtocolOCC10.pdf">Протокол ОСС № 10</a></li>
        <li class="list-group-item"><a href="docs/2016/Smeta2016.pdf">Смета на 2016 год</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><a href="docs/dogovor308.pdf">Договор №308</a></li>
        <li class="list-group-item"><a href="docs/doverennost1.pdf">Доверенность №1</a></li>
        <li class="list-group-item"><a href="docs/grafik_raboty.pdf">График работы</a></li>
        <li class="list-group-item"><a href="docs/kval_att.pdf">Квалификационный аттестат</a></li>
        <li class="list-group-item"><a href="docs/lic.pdf">Лицензия</a></li>
        <li class="list-group-item"><a href="docs/prot14.pdf">Протокол №14</a></li>
        <li class="list-group-item"><a href="docs/prot61-2015.pdf">Протокол №61-2015</a></li>
        <li class="list-group-item"><a href="docs/prot7.pdf">Протокол №7</a></li>
        <li class="list-group-item"><a href="docs/smeta01-11-15_30-04-16.pdf">Смета с 01-11-15 по 30-04-16</a></li>
        <li class="list-group-item"><a href="docs/svid_nal.pdf">Свидетельство о постановке в налоговой</a></li>
        <li class="list-group-item"><a href="docs/svid_ogrn.pdf">Свидетельство ОГРН</a></li>
        <li class="list-group-item"><a href="docs/vypiska_egrul.pdf">Выписка из ЕГРЮЛ</a></li>
      </ul>
    </div>
  </div>
</div>





