<div class="page-header">
  <h1>Документы<small> </small></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><a href="docs/buhotchet2016.pdf">Упрощенная бухгалтерская(финансовая) отчетность за 2016 год</a></li>
        <li class="list-group-item"><a href="docs/otchet2016.pdf">Отчет об использовании денежных средств за период с 01-01-2016 по 31-12-2016</a></li>
        <li class="list-group-item"><a href="docs/smeta2017.pdf">Смета на 2017 год</a></li>
        <li class="list-group-item"><a href="docs/2016/Smeta2016.pdf">Смета на 2016 год</a></li>
        <li class="list-group-item"><a href="docs/politika.pdf">Политика в отношении обработки персональных данных</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><a href="docs/p8.pdf">Протокол №8</a></li>
        <li class="list-group-item"><a href="docs/p9.pdf">Протокол №9</a></li>
        <li class="list-group-item"><a href="docs/p10.pdf">Протокол №10</a></li>
        <li class="list-group-item"><a href="docs/p11.pdf">Протокол №11</a></li>
        <li class="list-group-item"><a href="docs/p12.pdf">Протокол №12</a></li>
        <li class="list-group-item"><a href="docs/grafik_raboty.pdf">График работы</a></li>
        <li class="list-group-item"><a href="docs/kval_att.pdf">Квалификационный аттестат</a></li>
        <li class="list-group-item"><a href="docs/lic.pdf">Лицензия</a></li>
        <li class="list-group-item"><a href="docs/smeta01-11-15_30-04-16.pdf">Смета с 01-11-15 по 30-04-16</a></li>
        <li class="list-group-item"><a href="docs/svid_nal.pdf">Свидетельство о постановке в налоговой</a></li>
        <li class="list-group-item"><a href="docs/svid_ogrn.pdf">Свидетельство ОГРН</a></li>
        <li class="list-group-item"><a href="docs/vypiska_egrul.pdf">Выписка из ЕГРЮЛ</a></li>
      </ul>
    </div>
  </div>
</div>





